*{
    margin: 0;
    padding: 0;
}

.landingpage{

    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar{
    --bs-navbar-hover-color: #FFF473;
 --bs-navbar-color: white;
    font-size: 15px;
}

.navbar .aktuell{
    color: #FFF473;
}

.navbar-brand{
    --bs-navbar-color: white;
    font-size: 20px;
    color: white;
}

.bg-light {
--bs-bg-opacity: 0;
}

nav ul li a{
text-decoration: none;
font-size: 1.5em;
}

nav ul li a:hover{
border-bottom: 0.3em solid #FFF473;
transition: 0.5s;
color: #FFF473;
}

/*******nav controlls */
.nav-pills .nav-link.active{
    background-color: green;

}



.nav-pills .nav-link{
    color: black;
}
/***************Bilder gallerie*/
.carousel-indicators [data-bs-target]{
    background-color: black;
}

.carousel-indicators [data-bs-target]{
    color: black;
}


header{
    z-index: 9999999999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    height: 7.5em;
    background-color: #475b4a;
    box-shadow: #000 0 3px 15px;

}

.logo{
    height: 6em;
    width: auto;
    margin-right: 10px;
}
.continuoustext{
    font-family: Verdana;

}
.marginside {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20mm;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.margindown{
    margin-bottom: 40px;

}

.headersecpage{
    margin: 40px 120px 40px 40px;
    display: flex;
   justify-content: left;
}
.secpagestxt{
    display: flex;
    text-align: left;
    margin: 0 120px 0 40px;


}
.centered-text{
    display: flex;
    justify-content: center;
}

.bildercards{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.bildercards2{
    display: none;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.lead{
    margin-top: 4em;
}

.titlesec{
    margin: 100px 0;

}

.alignmentnav{
    width: 60%!important;
    justify-content: flex-end!important;
    text-align: right;
}
.card {
    margin: 0 5px 10px 5px;
}
.ctext {
    font-size: smaller;
}
.titolo{
    margin-left: 5px;
    font-size: 22px;
    color: #e2dcdc;
}
.center{
    display: flex;
    justify-content: center;
}
.dropdown-header{
    color: #9fcdff;
}
.dropdown-item{
    color: #e2dcdc;
}

@media  screen and (max-width: 1200px) {
    .bildercards2{
        display: flex !important;
    }

    .bildercards{
        display: none !important;
    }
    
}
.videops{
    margin: 50px 0 40px 0;

}
.idk{
    display: flex;
    justify-content: left;
    margin: 40px 120px 65px 95px;
}
