*{
    margin: 0;
    padding: 0;
}

.landingpage{

    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li a{
    text-decoration: none;
    font-size: 1.5em;
}

nav ul li a:hover{
    border-bottom: 0.3em solid #E94C4C;
    transition: 0.5s;
    color: #0b2e13;
}
/*******nav controlls */
.nav-pills .nav-link.active{
    background-color: green;
}


.nav-pills .nav-link{
    color: black;
}
/***************Bilder gallerie*/
.carousel-indicators [data-bs-target]{
    background-color: black;
}

.carousel-indicators [data-bs-target]{
    color: black;
}


header{
    z-index: 9999999999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    height: 8em;
    background-color: #5E7667;
    color: white;
    box-shadow: #000 0 10px 50px;
}

.logo{
    height: 6.5em;
    width: auto;
}
.continuoustext{
    font-family: Verdana;

}
.marginside {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20mm;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.margindown{
    margin-bottom: 40px;
}

.headersecpage{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
   justify-content: center;
}
.secpagestxt{
    display: flex;
    text-align: center;
    align-items: center;
margin-right: 80px;
    margin-left: 80px;

}
.centered-text{
    display: flex;
    justify-content: center;
}

.bildercards{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.lead{
    margin-top: 4em;
}

.titlesec{
    margin: 100px 0;

}

.alignmentnav{
    width: 60%!important;
    justify-content: flex-end!important;
}
.card {
    margin: 0 5px 10px 5px;
}