*{
    margin: 0;
    padding: 0;
}

.landingpage{

    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li a{
    text-decoration: none;
    font-size: 1.5em;
}

nav ul li a:hover{
    border-bottom: 0.3em solid #E94C4C;
    transition: 0.5s;
    color: #0b2e13;
}
/*******nav controlls */
.nav-pills .nav-link.active{
    background-color: green;
}


.nav-pills .nav-link{
    color: black;
}
/***************Bilder gallerie*/
.carousel-indicators [data-bs-target]{
    background-color: black;
}

.carousel-indicators [data-bs-target]{
    color: black;
}

header{
    z-index: 9999999999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    height: 10em;
}

.logo{
    height: 8em;
    width: auto;
}
.continuoustext{
    font-family: Verdana;

}
.marginside {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20mm;
}
.margindown{
    margin-bottom: 40px;
}

.alignmentnav{
text-align: right;
}
